h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

h4 {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: white;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}

.student_list {
    margin: 0 auto 0 auto;
}

.btn-primary {
    background-color: #283593;
    border-color: #283593;
}

.btn-primary:hover {
    background-color: #666ad1;
}

.btn-secondary {
    background-color: #2bbd7e;
    border-color: #2bbd7e;
    color:  white;
}

.btn-secondary:hover {
    background-color: #69f0ae;
    border-color: #69f0ae;
}

.btn-outline-primary {
    border: 2px solid #283593;
    color: #283593;
    font-weight: 500;
}

.btn-outline-primary:hover {
    border: 2px solid #666ad1;
    color: #666ad1;
    background-color: transparent;
}

.navbar {
    background-color: #001970;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 1.75rem;
}

.navbar-brand, .nav-link {
    color: white;
}

.eval_link, .eval_link:active, .eval_link:visited {
    text-decoration: none;
    color: white;
}

.navbar:hover, .nav-link:hover, .eval_link:hover {
    color: #69f0ae;
}

.navbar-brand:hover {
    color: #69f0ae      !important;
}

.eval_link:hover {
    text-decoration: none;
}

.auth_link {
    color: #283593;
}

.auth_link:hover {
    color: #69f0ae !important;
    text-decoration: none !important;
}

.student_card {
    width: 250px;
}

.fish_icon {
    width: 120px;
    height: auto;
    margin: 10px auto 0 auto;
}

.table_head {
    background-color:#001970;
    color: white;
}

.splash_img {
    max-width: 400px;
    height: auto;
}

