{% extends 'goalfish/base.html' %}
{% block content %}

<h1>View Students</h1>
<form action="{% url 'goalfish:grade_filter' %}" method="POST">
    {% csrf_token %}
<label for="grade_filter">Filter by Grade</label>
<select name="grade" id="grade_filter">
    <option value="1">K</option>
    <option value="2">1</option>
    <option value="3">2</option>
    <option value="4">3</option>
    <option value="5">4</option>
    <option value="6">5</option>
</select>
<input type="submit" value="Submit">
</form>
<form action="{% url 'goalfish:student_search' %}" method="POST">
    {% csrf_token %}
<label>Search Student by Name</label>
<input type="text" name="name_query">
<input type="Submit" value="Submit">
</form>
<ul>
    {% if students %}
        {% for student in students %}
        <li>
            <p>{{ student.firstName }} {{ student.lastName }} Grade: {{ student.gradeLevel.grade}}</p>
            <a href="{% url 'goalfish:student_detail' student.id %}">View Details</a>
        </li>
        {% endfor %}
    {% else %}
        <p>Sorry, no students match that search.</p>
    {% endif %}
</ul>

{% endblock content %}