{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>GoalFish</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">GoalFish</a>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'goalfish:add_student_form' %}">Add a New Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'goalfish:all_students' %}">View All Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'goalfish:logout' %}">Logout</a>
            </li>
            <form class="form-inline my-2 my-lg-0" action="{% url 'goalfish:student_search' %}" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="name_query">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
        </ul>
    </nav>
    {% else %}
    <div><a href="{% url 'goalfish:register' %}">Register</a></div>
    <div><a href="{% url 'goalfish:login' %}">Login</a></div>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

</html>