{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GoalFish</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'goalfish/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>

    <body>
        <div class="container d-flex justify-content-center align-items-center vh-100">

        <div class="card w-25">
            <div class="card-body">
                <h4 class="text-center mt-3">Login to GoalFish</h4>
                <form id="login_form" method="post" action="{% url 'goalfish:login' %}">
                    {% csrf_token %}
                    <input type="text" name="username" value="" size="50" id="username" class="form-control mb-3 mt-4" placeholder="username"/>
                    <input type="password" name="password" value="" placeholder="password" class="form-control mb-3" size="50" />

                    <input type="submit" value="Submit" class="w-100 align-center btn btn-primary mb-3" />
                </form>
            </div>
            <a class="auth_link text-center mb-3" href="{% url 'goalfish:register' %}">New Here? Click to Sign Up</a>
        </div>
    </div>

    </body>
</html>