{% extends 'goalfish/base.html' %}
{% block content %}
<h1>{{student.firstName}} {{student.lastName}}</h1>

<p>Age: {{student.age}} Grade Level: {{student.gradeLevel.grade}} Classroom Teacher: {{student.classroomTeacher}}</p>

<a class="btn btn-primary" href="{% url 'goalfish:new_eval' student.id %}">New Evaluation</a>
<!-- <a class="btn btn-secondary" href="{% url 'goalfish:edit_student_form' student.id %}">Edit Info</a> -->
<a class="btn btn-secondary" href="{% url 'goalfish:weekly_progress_form' student.id %}">View Progress</a>
{% endblock %}