{% extends 'goalfish/base.html' %}
{% block content %}
<a href="{% url 'goalfish:student_detail' current_student.id %}">Back to Student Details</a>
<h1>{{current_student.firstName}} {{current_student.lastName}}'s Weekly Progress</h1>
<form action="{% url 'goalfish:weekly_progress_results' current_student.id %}" method="POST">
    {% csrf_token %}
    <label for="school_week">Select a School Week</label>
    <input type="number" id="school_week" name="school_week" min="1" max="36" default="0" required>
    <input type="submit">
</form>
{% endblock %}