{% extends 'goalfish/base.html' %}
{% block content %}
<a href="{% url 'goalfish:student_detail' current_student.id %}">Back to Student Details</a>
<h1>{{current_student.firstName}} {{current_student.lastName}}'s Weekly Progress</h1>
<form action="{% url 'goalfish:weekly_progress_results' current_student.id %}" method="POST">
    {% csrf_token %}
    <label for="school_week">Select a School Week</label>
    <select name="school_week" required>
        {% for week in available_weeks %}
        <option value={{week.schoolWeek}}>{{week.schoolWeek}}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>
{% endblock %}