{% extends 'goalfish/base.html' %}
{% block content %}
<h1>Weekly Progress: School Week {{school_week}}</h1>
<ul>
{% for evaluation in evaluations %}
<li>
    {{evaluation.date}}<br>
    {{evaluation.goal1}}: {{evaluation.score1}}<br>
    {{evaluation.goal2}}: {{evaluation.score2}}<br>
    {{evaluation.goal3}}: {{evaluation.score3}}<br>
    {{evaluation.goal4}}: {{evaluation.score4}}<br>
    {{evaluation.goal5}}: {{evaluation.score5}}<br>
    {{evaluation.goal6}}: {{evaluation.score6}}<br>
</li><br>
{% endfor %}
</ul>
{% endblock %}